In [40]:
from Bruhmin import turkeyhsd
import seaborn as sns
from sklearn.preprocessing import scale
import sklearn.linear_model as lm
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf
import scipy.stats as stats
from statsmodels.stats.outliers_influence import variance_inflation_factor
import numpy as np
import pandas as pd
from  statsmodels.api import stats  as sm
from statsmodels.formula.api import ols
from statsmodels.stats.multicomp import pairwise_tukeyhsd
import statsmodels.stats.multicomp as mc
from statsmodels.stats.proportion import proportions_ztest as prop
from scipy import stats
from statsmodels.multivariate.manova import MANOVA 
import cv2
from sklearn.preprocessing import LabelEncoder

In [26]:
df = pd.read_csv("gaytaset.csv")
df

,CountryCode,subset,question_code,question_label,answer,percentage,notes
0,Austria,Lesbian,b1_a,"In your opinion, how widespread is offensive l...",Very widespread,8,NaN
1,Austria,Lesbian,b1_a,"In your opinion, how widespread is offensive l...",Fairly widespread,34,NaN
2,Austria,Lesbian,b1_a,"In your opinion, how widespread is offensive l...",Fairly rare,45,NaN
3,Austria,Lesbian,b1_a,"In your opinion, how widespread is offensive l...",Very rare,9,NaN
4,Austria,Lesbian,b1_a,"In your opinion, how widespread is offensive l...",Don`t know,4,[0]
...,...,...,...,...,...,...,...
34015,Average,Bisexual men,openness_cat4,4 levels of being open about LGBT background *,Very open,6,NaN
34016,Average,Transgender,openness_cat4,4 levels of being open about LGBT background *,Never Open,53,NaN
34017,Average,Transgender,openness_cat4,4 levels of being open about LGBT background *,Rarely Open,19,NaN
34018,Average,Transgender,openness_cat4,4 levels of being open about LGBT background *,Fairly open,12,NaN
34019,Average,Transgender,openness_cat4,4 levels of being open about LGBT background *,Very open,16,NaN

In [38]:
q_code = list(df['question_code'].unique())
q_code

['b1_a',
 'b1_b',
 'b1_c',
 'b1_d',
 'b1_e',
 'b1_f',
 'b1_g',
 'b1_h',
 'b1_i',
 'b2_a',
 'b2_b',
 'b2_c',
 'b2_d',
 'b2_e',
 'b2_f',
 'b2_g',
 'b2_h',
 'b2_i',
 'c1a_a',
 'c1a_b',
 'c1a_c',
 'c1a_d',
 'c1_b',
 'c1_c',
 'g1_a',
 'g2_a',
 'g2_b',
 'g2_c',
 'g2_d',
 'g3_a',
 'g3_b',
 'g3_c',
 'g3_d',
 'g3_e',
 'g3_f',
 'g3_g',
 'g4_a',
 'g4_b',
 'g4_c',
 'g5',
 'h10',
 'h11',
 'h14',
 'h15',
 'h16',
 'h9',
 'h9_1',
 'h9_2',
 'i1',
 'open_at_school',
 'open_at_work',
 'openness_cat4']

In [ ]:
# for i in range(0,len(q_code)):
#     for j in range(0,len(q_code)):
#         df exec() = df[df['question_code'] == q_code]

In [45]:
df1 = df[df['question_code'] == "b1_a"]
df1

,CountryCode,subset,question_code,question_label,answer,percentage,notes
0,Austria,Lesbian,b1_a,"In your opinion, how widespread is offensive l...",Very widespread,8,NaN
1,Austria,Lesbian,b1_a,"In your opinion, how widespread is offensive l...",Fairly widespread,34,NaN
2,Austria,Lesbian,b1_a,"In your opinion, how widespread is offensive l...",Fairly rare,45,NaN
3,Austria,Lesbian,b1_a,"In your opinion, how widespread is offensive l...",Very rare,9,NaN
4,Austria,Lesbian,b1_a,"In your opinion, how widespread is offensive l...",Don`t know,4,[0]
...,...,...,...,...,...,...,...
720,Average,Transgender,b1_a,"In your opinion, how widespread is offensive l...",Very widespread,17,NaN
721,Average,Transgender,b1_a,"In your opinion, how widespread is offensive l...",Fairly widespread,32,NaN
722,Average,Transgender,b1_a,"In your opinion, how widespread is offensive l...",Fairly rare,33,NaN
723,Average,Transgender,b1_a,"In your opinion, how widespread is offensive l...",Very rare,13,NaN
724,Average,Transgender,b1_a,"In your opinion, how widespread is offensive l...",Don`t know,5,NaN

In [46]:

le = LabelEncoder()
df1['answer'] = le.fit_transform(df1['answer'])
print(dict(zip(le.classes_, le.transform(le.classes_))))

{'Don`t know': 0, 'Fairly rare': 1, 'Fairly widespread': 2, 'Very rare': 3, 'Very widespread': 4}

C:\Users\Khush Trivedi\AppData\Local\Temp\ipykernel_12292\866740671.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['answer'] = le.fit_transform(df1['answer'])

In [49]:
le = LabelEncoder()
df1['subset'] = le.fit_transform(df1['subset'])
print(dict(zip(le.classes_, le.transform(le.classes_))))

{'Bisexual men': 0, 'Bisexual women': 1, 'Gay': 2, 'Lesbian': 3, 'Transgender': 4}

C:\Users\Khush Trivedi\AppData\Local\Temp\ipykernel_12292\215674766.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['subset'] = le.fit_transform(df1['subset'])

In [50]:
df1

,CountryCode,subset,question_code,question_label,answer,percentage,notes
0,Austria,3,b1_a,"In your opinion, how widespread is offensive l...",4,8,NaN
1,Austria,3,b1_a,"In your opinion, how widespread is offensive l...",2,34,NaN
2,Austria,3,b1_a,"In your opinion, how widespread is offensive l...",1,45,NaN
3,Austria,3,b1_a,"In your opinion, how widespread is offensive l...",3,9,NaN
4,Austria,3,b1_a,"In your opinion, how widespread is offensive l...",0,4,[0]
...,...,...,...,...,...,...,...
720,Average,4,b1_a,"In your opinion, how widespread is offensive l...",4,17,NaN
721,Average,4,b1_a,"In your opinion, how widespread is offensive l...",2,32,NaN
722,Average,4,b1_a,"In your opinion, how widespread is offensive l...",1,33,NaN
723,Average,4,b1_a,"In your opinion, how widespread is offensive l...",3,13,NaN
724,Average,4,b1_a,"In your opinion, how widespread is offensive l...",0,5,NaN

In [69]:
i = 5

In [70]:
df0 = pd.read_parquet(f"D:/SSDI_Project/matchdata_split/natus-vincere-vs-faze-m1-dust2/{i}/Round-{i}_Player-1.parquet")
df0

,roundNum,tick,hp,armor,activeWeapon,isBlinded,isAirborne,isDucking,isStanding,isScoped,...,team_in_range_200,team_in_range_500,team_in_range_1000,equipment_value_team,equipment_value_enemy,distance_closest_enemy,hp_closest_enemy,weapon_closest_enemy,isAlive,isDead
0,5,0,100,92,Melee Kills,False,False,False,True,False,...,3,5,5,29600,8400,3117.142964,100,Melee Kills,1,0.0
1,5,128,100,92,Melee Kills,False,False,False,True,False,...,2,4,5,29600,8400,2872.316297,100,Melee Kills,1,0.0
2,5,256,100,92,Melee Kills,False,False,False,True,False,...,2,3,4,29500,8400,2712.971213,100,Sniper Rifle Kills,1,0.0
3,5,384,100,92,Melee Kills,False,False,False,True,False,...,2,3,3,29500,8400,2599.406968,100,Sniper Rifle Kills,1,0.0
4,5,512,100,92,Melee Kills,False,True,False,True,False,...,2,3,3,29500,8400,2555.403741,100,Sniper Rifle Kills,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,5,16147,0,0,Utility Kills,False,True,False,True,False,...,0,0,0,9600,0,0.000000,0,Utility Kills,0,1.0
127,5,16275,0,0,Utility Kills,False,True,False,True,False,...,0,0,0,9600,0,0.000000,0,Utility Kills,0,1.0
128,5,16403,0,0,Utility Kills,False,True,False,True,False,...,0,0,0,9600,0,0.000000,0,Utility Kills,0,1.0
129,5,16531,0,0,Utility Kills,False,True,False,True,False,...,0,0,0,9600,0,0.000000,0,Utility Kills,0,1.0
130,5,16659,0,0,Utility Kills,False,True,False,True,False,...,0,0,0,9600,0,0.000000,0,Utility Kills,0,1.0

In [66]:
"/Round"

'/Round'